*{
    padding:0;
    margin:0;

}
.wrapper{
    background: url('edited.jpg') no-repeat;
    background-size: cover;
    
    height: 120vh;
    margin-left: 460px;
    
    
}
.navbar{
    height: 80px;
    width: 100%;
    background: rgba(220, 233, 150, 0.979);

}
.logo{
    width: 160px;
    height: auto;
    padding: 20px 100px;

}
.navbar ul{
    float: right;
    margin-right: 20px;
    
}
.navbar ul li{
    list-style: none;
    margin: 0 8px;
    display:  inline-block;
    line-height: 80px;
}
.navbar ul li a{
    text text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: 'Roboto',sans-serif;
}
.leftsection{
    width: 50%;
    float: left;

}
.rightsection{
    width: 50%;
    float: left;
}
.mainbody{
    width: 100%;
    height: 500px;
}
.heading{
    font-size: 60px;
    font-family: 'Roboto',sans-serif;
    margin-top: 45px;
    margin-left: 20px;
    color: rgb(27, 51, 4);
}

.intro{
    font-size: 25px;
    font-family: 'Roboto',sans-serif;
    margin-top : 29px;
    margin-left: 20px;
    text-align: left;
    color: rgb(27, 51, 4);
   
    
}
.illustration{
    margin-top: 40px;
}
.button{
    margin-top: 30px;
    margin-left: 250px;
    width: 170px;
    height: 55px;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color:transparent;
    font-weight: bold;
    font-size: 20px;
    color: rgb(27, 51, 4);
    border: 2px solid rgb(27, 51, 4)
    
    
}





    





